@charset "utf-8";
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
.div_main {
    margin: 0 auto;
}
.mainvisual {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.about-img {
    border-radius: 50%;
}
h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
h2 span {
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
}
/* h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: grey;
    margin-top: 50px;
    margin: 0 auto;
} */
 
 .profile {
    width: 100px;
    margin-left: 50px;
 }
 .gnav {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 50px;
    /* align-items: right; */
    /* margin: 10px 20px; */
 }
 .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid black; */
 }
.about {
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
}
.bicycle {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
}
.bicycle h3 {
    text-align: center;
    margin: 20px 0;
}
.bicycle p {
    margin-bottom: 30px;
}
footer {
    text-align: center;
}


@media  screen and (max-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .mainvisual {
        height: 600px;
    }
    /* .div1 {
        margin: 0 auto;
    } */
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 20px;
        justify-content: space-between;
    }
    .about .about-img {
        width: 30%;
        height: auto;
        margin: 0 auto;
    }
    .ul1_li {
        margin: 0 20px;
    }
    .bicycle {
        display: flex;
        flex-direction: column;
        /* width: 80%; */
        margin: 0 20px;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 100px;
    }
}